<div class="container">
    <form method="post">
        <center>
            <div class="jumbotron">
                <h2>สมัครสมาชิก</h2>
                    Usernamer
                    <?php
                        echo $this->Form->input('CaptchaRegister.name',array(
                            'type'=>'text',
                            'label'=>false,
                            'require',
                        ));
                    ?>
                    Surname
                    <?php
                        echo $this->Form->input('CaptchaRegister.surname',array(
                            'type'=>'text',
                            'label'=>false,
                            'require',
                        ));
                    ?>
                    Email
                    <?php
                        echo $this->Form->input('CaptchaRegister.email',array(
                            'type'=>'text',
                            'label'=>false,
                            'require',
                        ));
                    ?>
                    Password
                    <?php
                        echo $this->Form->input('CaptchaRegister.password',array(
                            'type'=>'password',
                            'label'=>false,
                            'require',
                        ));
                    ?><br>
                        <input type="submit" class="btn btn-success" value="Accept" onclick="return confirm('ข้อมูลถูกต้องแล้วใช่หรือไม่')">
                        <input type="reset" class="btn btn-danger" value="Cancel">
                    <!-- recaptcha // data-sitekey="recaptcha key" -->
                    <div class="g-recaptcha" data-sitekey="6LdFnBMqAAAAAIe15RPCFpfdaOgkvsGFZUM9VQ_y"></div>
            </div>
        </center>
    </form>
</div>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>