<?php //echo debug($projects);?>
<div class="container" style="padding:15px 0 0;">
<div class="panel panel-default" style="border-color: #F2F2F2!important">
	<div class="panel-heading" style="background-color: #F2F2F2!important;border-color: #F2F2F2!important">
			<div class="panel-title">
				<h3 style="margin:0px !important;">
					<center><div class="font_panel2">ประกวดสุนัข</div></center>
				</h3> 
			</div>
		</div>	
		<div class="panel-body" style="padding-top: 15px; ">
			<div align="center"> 	
				<h4>ในงานเกษตรภาคเหนือ ครั้งที่ 8 ประกวดแข่งขัน วันที่ 11-12 พฤศจิกายน 2560</h4>
				<br>
			</div> 
			<div id="no-more-tables"> 				
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th style="text-align: center;">ลำดับ</th>
							<th style="text-align: center;">ประเภทประกวด</th>
			
							<th style="text-align: center;">ลงทะเบียน</th>
							<th style="text-align: center;">ตรวจสอบรายชื่อ</th>
							<th style="text-align: center;">ปริ้นท์รายชื่อ</th>
						</tr>
					</thead>
					<tbody>
						<?php
							$i = 0;
							foreach ($projects as $project){
								$i++;
							?>
								<tr>
									<td data-title="ลำดับ" align="center"><?php echo $i; ?></td>
									<td data-title="ประเภทประกวด">
										<?php 
										if($project['Project']['file_name'] != null){
										?>
											<a href="<?php echo $this->Html->url('/files/'.$project['Project']['file_name']); ?>" target="_blank">
												<?php echo $project['Project']['name']; ?>
											</a>
										<?php 
											
										}
										else{
											echo $project['Project']['name']; 
										}
										
											
										?>
										
									</td>
									
									<td data-title="ลงทะเบียน" style="text-align: center;">																				
										<?php
										if ($project['Project']['id'] == 45) {
											echo '<button class="btn btn-danger" style="cursor: none;">
											<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 
											ปิดรับการลงทะเบียน						
										</button>';
										}
										else{
										?>								
										<a class="btn btn-primary" href="<?php echo $this->Html->url(array('action' => 'register',$project['Project']['id'])); ?>" role="button" target="_blank">ลงทะเบียน</a>					
										<?php	
										}
										?>															
									</td>
									<td data-title="ตรวจสอบรายชื่อ" style="text-align: center;">								
										<a class="btn btn-success" href="<?php echo $this->Html->url(array('action' => 'checklist',$project['Project']['id'])); ?>" role="button" target="_blank">ตรวจสอบรายชื่อ</a>								
									</td>
									<td data-title="ปริ้นท์รายชื่อ" style="text-align: center;">
										<a class="btn btn-warning" href="<?php echo $this->Html->url(array('action' => 'ListPrint',$project['Project']['id'])); ?>"
											role="button" target="_blank"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Print หน้าลงทะเบียน</a>
									</td>
								</tr>
							<?php
							}
						?>						
						
					</tbody>
				</table>
			</div>
	
		</div>

	</div>
	
	
</div>
