<div class="container">
      <div class="panel panel-success">
            <div class="row">
                  <div class="col-md-12">
                       
                              
                                          <form method="post" accept-charset="utf-8">
                                          <div class="panel panel-success">
                                          <div class="panel-heading"> 
                                                <h3 class="panel-title"><i class="glyphicon glyphicon-plus"></i> แก้ไขรายการ</h3>
                                          </div>
                                                <?php
                                                      echo $this->Form->input('LifeLongCurriculum.id',array(
                                                            'type'=>'hidden',
                                                            'label'=>false,
                                                            'hidden'
                                                      ));
                                                ?>
                                                <div class="panel-body">
                                                      <label class="col-sm-4 control-label">รหัสวิชา</label>
                                                      <div class="col-sm-8">
                                                            <div class="form-group has-feedback">
                                                            <?php
                                                                  echo $this->Form->input('LifeLongCurriculum.code', array(
                                                                        'type' => 'text',
                                                                        'label' => false,
                                                                        'class' => array('form-control css-require'),                                                           
                                                                        'error' => false,
                                                                        'placeholder' => 'กรุณากรอกรหัสวิชา',
                                                                        'required'
                                                                        ));
                                                            ?>
                                                            </div>
                                                      </div>
                                                      <label class="col-sm-4 control-label">ชื่อวิชา</label>
                                                      <div class="col-sm-8">
                                                            <div class="form-group has-feedback">
                                                            <?php
                                                                  echo $this->Form->input('LifeLongCurriculum.name', array(
                                                                        'type' => 'text',
                                                                        'label' => false,
                                                                        'class' => array('form-control css-require'),                                                           
                                                                        'error' => false,
                                                                        'placeholder' => 'กรุณากรอกชื่อวิชา',
                                                                        'required'
                                                                        ));
                                                            ?>
                                                            </div>
                                                      </div>
                                                      <label class="col-sm-4 control-label">หมวด</label>
                                                      <div class="col-sm-8">
                                                            <div class="form-group has-feedback">
                                                            <?php
                                                                  echo $this->Form->input('LifeLongCurriculum.section', array(
                                                                        'type' => 'text',
                                                                        'label' => false,
                                                                        'class' => array('form-control css-require'),                                                           
                                                                        'error' => false,
                                                                        'placeholder' => 'กรุณากรอกหมวดวิชา',
                                                                        'required'
                                                                        ));
                                                            ?>
                                                            </div>
                                                      </div>
                                                      <label class="col-sm-4 control-label">วันเรียน</label>
                                                      <div class="col-sm-8">
                                                            <div class="form-group has-feedback">
                                                            <?php
                                                            echo $this->Form->input('LifeLongCurriculum.study_day', array(
                                                                  'type' => 'text',
                                                                  'label' => false,
                                                                  'div' => false,
                                                                  'class' => array('form-control css-require'),                                                           
                                                                  'error' => false,
                                                                  'placeholder' => 'กรุณากรอกวันเรียน',
                                                                  'required'
                                                            ));
                                                            ?>
                                                            </div>
                                                      </div>
                                                      <label class="col-sm-4 control-label">เวลาเรียน</label>
                                                      <div class="col-sm-8">
                                                            <div class="form-group has-feedback">
                                                            <?php
                                                                  echo $this->Form->input('LifeLongCurriculum.study_time', array(
                                                                        'type' => 'text',
                                                                        'label' => false,
                                                                        'class' => array('form-control css-require'),                                                           
                                                                        'error' => false,
                                                                        'placeholder' => 'กรุณากรอกเวลาเรียน',
                                                                        'required'
                                                                        ));
                                                            ?>
                                                            </div>
                                                      </div>
                                                      <label class="col-sm-4 control-label">ห้องเรียน</label>
                                                      <div class="col-sm-8">
                                                            <div class="form-group has-feedback">
                                                            <?php
                                                                  echo $this->Form->input('LifeLongCurriculum.classroom', array(
                                                                        'type' => 'text',
                                                                        'label' => false,
                                                                        'class' => array('form-control css-require'),                                                           
                                                                        'error' => false,
                                                                        'placeholder' => 'กรุณากรอกห้องเรียน',
                                                                        'required'
                                                                        ));
                                                            ?>
                                                            </div>
                                                      </div>
                                                      <label class="col-sm-4 control-label">อาจารย์ผู้สอน</label>
                                                      <div class="col-sm-8">
                                                            <div class="form-group has-feedback">
                                                            <?php
                                                                  echo $this->Form->input('LifeLongCurriculum.lecturer', array(
                                                                        'type' => 'text',
                                                                        'label' => false,
                                                                        'class' => array('form-control css-require'),                                                           
                                                                        'error' => false,
                                                                        'placeholder' => 'กรุณากรอกอาจารย์ผู้สอน',
                                                                        'required'
                                                                        ));
                                                            ?>
                                                            </div>
                                                      </div>
                                                      <label class="col-sm-4 control-label">จำนวนผู้สมัครเข้าเรียนหลักสูตร</label>
                                                      <div class="col-sm-8">
                                                            <div class="form-group has-feedback">
                                                            <?php
                                                                  echo $this->Form->input('LifeLongCurriculum.total_student_apply', array(
                                                                        'type' => 'text',
                                                                        'label' => false,
                                                                        'class' => array('form-control css-require'),                                                           
                                                                        'error' => false,
                                                                        'placeholder' => 'กรุณากรอกจำนวนผู้สมัครเข้าเรียนหลักสูตร',
                                                                        'required'
                                                                        ));
                                                            ?>
                                                            </div>
                                                      </div>
                                                      <label class="col-sm-4 control-label">เดือน</label>
                                                      <div class="col-sm-8">
                                                            <div class="form-group has-feedback">
                                                            <?php
                                                            $months = array(
                                                                  '1' => '1',
                                                                  '2' => '2',
                                                                  '3' => '3',
                                                                  '4' => '4',
                                                                  '5' => '5',
                                                                  '6' => '6',
                                                                  '7' => '7',
                                                                  '8' => '8',
                                                                  '9' => '9',
                                                                  '10' => '10',
                                                                  '11' => '11',
                                                                  '12' => '12',
                                                            );
                                                            echo $this->Form->input('LifeLongCurriculum.month', array(
                                                                  'options' => $months,
                                                                  'label' => false,
                                                                  'div' => false,
                                                                  'class' => array('form-control css-require'),                                                           
                                                                  'error' => false,
                                                                  'required'
                                                            ));
                                                            ?>
                                                            </div>
                                                      </div>
                                                      <label class="col-sm-4 control-label">ปี</label>
                                                      <div class="col-sm-8">
                                                            <div class="form-group has-feedback">
                                                            <?php
                                                                  echo $this->Form->input('LifeLongCurriculum.year', array(
                                                                        'type' => 'number',
                                                                        'label' => false,
                                                                        'class' => array('form-control css-require'),                                                           
                                                                        'error' => false,
                                                                        'placeholder' => 'กรุณากรอกปี',
                                                                        'required'
                                                                        ));
                                                            ?>
                                                            </div>
                                                      </div>
                                                      <div class="form--group">
                                                                  <input type="submit" class="btn btn-success" value="บันทึกข้อมูล" onclick="return confirm('ยืนยันการเพิ่มข้อมูล')">
                                                      </div>
                                                </div>
                                          </div>
                                          </form>
                              
                  </div>
            </div>
      </div>
</div>