<?php //debug($InfoDocument) ?>

<div class="container" style="padding:15px 0 0;">
<div class="panel panel-default" style="border-color: #F2F2F2!important;">
	<div class="panel-heading" style="background-color: #F2F2F2!important;border-color: #F2F2F2!important">
			<h3 class="panel-title">
				<center><div class="font_panel2"><?php echo $new['Info']['Title'] ?></div></center>
			</h3>
		</div>
		<div class="panel-body">
			<div style="overflow-x:scroll;" >
				<?php
					if($new['Info']['Detail']){
						?><p><?php echo $new['Info']['Detail']; ?></p><hr><br>
				<?php
					}
				?>
			</div>
		<div style="padding-left: 10px;">
		
		<?php
				if ($new['InfoDocument'] == null) {
					
				}else {
					foreach ($new['InfoDocument'] as $InfoDocument) {
						if ($InfoDocument['class'] == "file") { ?>
						<b>เอกสารประกอบ :</b>
						<a href="<?php echo $this->Html->url('/files/Document/') , $InfoDocument['name']; ?>" class="btn btn-primary" target="_blank">Download <?php echo $InfoDocument['name_old']; ?> <span class="glyphicon glyphicon-cloud-download"></span></a>
			<?php
					}
				}
			}	
			?>
		</div>
		<hr>
		<div style="padding-left: 10px;">
		
		<?php
				if ($new['Info']['link'] == null) {
					
				}else {
					echo '<b>ลิ้งค์ลงทะเบียน :</b>';
					
						 ?>
			
						<a href="<?php echo $new['Info']['link']; ?>" class="btn btn-success" target="_blank"> Link สำหรับลงทะเบียน <span class="glyphicon glyphicon-cloud-download"></span></a>
			<?php
					
				
			}	
			?>
		</div>
		<hr>
		<?php
		if ($new['InfoDocument'] == null) {
			# code...
		}else {
			
		
				$img = "";
			
				$img3 = 0;
				echo "<div class='list-group gallery'>";
				foreach ($new['InfoDocument'] as $InfoDocument) {
					
					if ($InfoDocument['class'] == "img") { ?>
					
            <div class='col-sm-12'>
                <a class="thumbnail fancybox" rel="ligthbox" href="<?php echo $this->Html->url('/files/Document/').''. $InfoDocument['name'] ?>">
                    <img class="img-responsive" alt="" src="<?php echo $this->Html->url('/files/Document/').''. $InfoDocument['name'] ?>" width="100%" />
                    <div class='text-right'>
                        <small class='text-muted'><?php //echo $new['Info']['Title']; ?></small>
                    </div> 
                </a>
            </div>
					
				<?php }
				}
				echo " </div>";
			}
			?>
				<!-- col-sm-4 col-xs-6 col-md-3 col-lg-3	 -->
		</div>
		<div style="padding-left: 10px;">			
			<b>หมวดหมู่ :</b> <?php echo $new['Typenew']['TypeNews'] ?><br>
			<b>วันที่เผยแพร่ :</b> <?php echo $new['Info']['modified'] ?><br>
			<!-- <b>เผยแพร่โดย :</b> <?php echo $new['Info']['PostName'] ?><br> -->
			<b>เปิดอ่าน :</b> <?php echo $new['Info']['CountRead'] ?> ครั้ง<br></p>
		</div>
	</div>

</div>