<?php //debug($InfoDocument) ?>

<div class="container">
<div class="panel panel-default" style="border-color: #F2F2F2!important">
	<div class="panel-heading" style="background-color: #F2F2F2!important;border-color: #F2F2F2!important">
			<h3 class="panel-title">แผนผังโดยรวมของงาน</h3>
		</div>
		<div class="panel-body">
			
			<?php
				$img = "";
				$img2 = "";
				$img3 = 0;
				echo "<div class='list-group gallery'>";
			 ?>
					
            <div class='col-sm-12'>
                <!-- <a class="thumbnail fancybox" rel="ligthbox" href="<?php echo $this->Html->url('/files/Document/1.jpg') ?>"> -->
                    <img class="img-responsive" alt="" src="<?php echo $this->Html->url('/img/3.jpg') ?>" width="100%" />
                   
                <!-- </a> -->
            </div>
				
				<!-- col-sm-4 col-xs-6 col-md-3 col-lg-3	 -->
		</div>
		
		
		
	</div>

</div>