<?php //debug($news) ?>
<?php //debug($news) ?>
<?php 
		date_default_timezone_set('Asia/Bangkok');
		$date = date("Y-m-d");
		$time = date("H:i:s");

		function DateDiff($strDate1,$strDate2){                             
		return (strtotime($strDate2) - strtotime($strDate1))/  ( 60 * 60 * 24 );  // 1 day = 60*60*24
		}


	?>
<div class="container">

<!-- <div class="portlet light ">
	<div class="portlet-title">
		<div class="caption">
			<?php echo $this->element('Infos/menu'); ?>
		</div>
	</div>
	//col-md-9
</div> -->
<div class="col-md-12">
           
		<div class="panel panel-default" style="border-color: #F2F2F2!important">
			<div class="panel-heading" style="background-color: #F2F2F2!important;border-color: #F2F2F2!important">
			<h1 class="panel-title"><?php echo $infos8[0]['Typenew']['TypeNews'] ?>ทั้งหมด</h1>
		</div>
		<div class="panel-body">
		<div class="" >
              <div class="">
                  <?php 
                  $i = 0;
                  if ($infos8 == null) {
                      
                  }else { ?>
                      
                  <?php	foreach ($infos8 as $info8) {
                      
                      if(($i%3) == 0)
                      {	
                          echo '<div class="row">';
                      }
                      ?>
              
                  <div class="col-lg-4 col-sm-6 portfolio-item" >
                  <div class="card h-100">
                      <?php
                      //http://placehold.it/700x400
                      
                      list($name, $fileType) = explode(".", $info8['Info']['Picture']);
                          if ($name == $info8['Info']['id']."_pic") {
                      ?>
                      <a href="<?php echo $this->Html->url(array('action' => 'InfoActivityDetail',$info8['Info']['id'])); ?>" target="_blank"><img class="card-img-top" style="min-width: 100%;max-width: 100%;min-height: 190px; " src="<?php echo $this->Html->url('/files/Activity/'.$info8['Info']['id'].'/').''.$info8['Info']['Picture']; ?>" alt="" ></a>
                      <?php } ?>  
                      <div class="card-body">
                      <div class="card-title" style="height: 130px;">
                          <div class=" postcontent">
                          <div class="postmeta updated color_gray">
                              <div class="postdate bg-lightgray headerfont" itemprop="datePublished"><span class="postday"><?php echo date('d',strtotime($info8['Info']['postdate'])); ?></span><?php echo date('M',strtotime($info8['Info']['postdate'])); ?>  <?php echo date('Y',strtotime($info8['Info']['postdate'])); ?></div>
                          </div>
                          <a href="<?php echo $this->Html->url(array('action' => 'InfoActivityDetail',$info8['Info']['id'])); ?>" target="_blank"><div class="font_panel6"> <?php echo strip_tags($info8['Info']['Title']); ?></div></a><span class="badge" style="background-color: #E5E5E5!important;border-color: #E5E5E5!important"><font color="black"><i class="fa fa-user-circle" aria-hidden="true"></i> 	View : <?php echo $info8['Info']['CountRead'] ?> </font></span> 
                          
                          
                          </div>                            
                      </div> 
                      
                                     
                  </div>
                  </div>
              </div>
              <?php 
                  $i++;
                  
                  if(($i%3) == 0)
                  {	
                      echo '</div>';
                  }
                                          
                              
                      } 
                  } 
                              
                  ?>
              
          
              </div>
              <!-- /.row -->
			  
			
		<hr>
	</div>

	
	




</div>
        </div>
