<?php //debug($InfoDocument) ?>

<div class="container">
	<div class="row">
		<div class="col-md-12 xs-12">
			<?php
				$img = "";
				$img2 = "";
				$img3 = 0;
				echo "<div class='list-group gallery'>";
			 ?>
					
            
                <!-- <a class="thumbnail fancybox" rel="ligthbox" href="<?php echo $this->Html->url('/files/Document/1.jpg') ?>"> -->
                    <img class="img-responsive" alt="" src="<?php echo $this->Html->url('/img/1.jpg') ?>" width="100%" />
                    <img class="img-responsive" alt="" src="<?php echo $this->Html->url('/img/2.jpg') ?>" width="100%" />
                <!-- </a> -->
          
				
				<!-- col-sm-4 col-xs-6 col-md-3 col-lg-3	 -->
		</div>
		
		
		
	</div>

</div>