<?php //echo debug($projects);?>
<div class="container" style="padding:15px 0 0;">
	<div class="panel panel-default" style="border-color: #F2F2F2!important">
		<div class="panel-heading" style="background-color: #F2F2F2!important;border-color: #F2F2F2!important">
			<div class="panel-title">
				<h3 style="margin:0px !important;">
					<center><div class="font_panel2">ประชุมและเสวนา</div></center>
				</h3> 
			</div>
		</div>	
		<div class="panel-body" style="padding-top: 15px; ">
			<div class="row" align="center"> 	
				<h4>กำหนดการกิจกรรมฝ่ายประชุมและเสวนา</h4>
				<h4>ในงานเกษตรภาคเหนือ ครั้งที่ 8 “เกษตรทันสมัย เศรษฐกิจก้าวไกล ใส่ใจชุมชน”</h4>
				<h4>ในระหว่างวันที่ 8-12 พฤศจิกายน 2560</h4>
				<br>
				
				<div class="col-md-3">					
					<a href="<?php echo $this->Html->url(array('action' => 'register',1)); ?>" target="_blank">
						<img style="padding-top: 15px; " class="img-responsive" src="<?php echo $this->Html->url('/img/meeting/1.jpg'); ?>" width="400px">							
					</a>
				</div> 
				<div class="col-md-3">					
					<a href="<?php echo $this->Html->url(array('action' => 'register',4)); ?>" target="_blank">
						<img style="padding-top: 15px; " class="img-responsive" src="<?php echo $this->Html->url('/img/meeting/4.jpg'); ?>" width="400px">							
					</a>
				</div> 
				<div class="col-md-3">
					<a href="<?php echo $this->Html->url(array('action' => 'register',6)); ?>" target="_blank">
						<img style="padding-top: 15px; " class="img-responsive" src="<?php echo $this->Html->url('/img/meeting/6.jpg'); ?>" width="400px">							
					</a>
				</div> 
				<div class="col-md-3">
					<a href="<?php echo $this->Html->url(array('action' => 'register',7)); ?>" target="_blank">
						<img style="padding-top: 15px; " class="img-responsive" src="<?php echo $this->Html->url('/img/meeting/7.jpg'); ?>" width="400px">							
					</a>
				</div> 
				
			</div> 
			
			<br>
			<br>
			<div id="no-more-tables"> 				
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th style="text-align: center;">ลำดับ</th>
							<th style="text-align: center;">โครงการประชุมและเสวนา</th>
							<th style="text-align: center;">วันที่/เวลา</th>
							<th style="text-align: center;">ทีมวิทยากร/ทีมนักวิจัย</th>
							<th style="text-align: center;">ลงทะเบียน</th>
							<th style="text-align: center;">ตรวจสอบรายชื่อ</th>
							<th style="text-align: center;">ปริ้นท์รายชื่อ </th>
						</tr>
					</thead>
					<tbody>
						<?php
							$i = 0;
							foreach ($projects as $project){
								$i++;
							?>
								<tr>
									<td data-title="ลำดับ" align="center"><?php echo $i; ?></td>
									<td data-title="โครงการประชุมและเสวนา">
										<?php 
										if($project['Project']['file_name'] != null){
										?>
											<a href="<?php echo $this->Html->url('/files/'.$project['Project']['file_name']); ?>" target="_blank">
												<?php echo $project['Project']['name']; ?>
											</a>
										<?php 
											
										}
										else{
											echo $project['Project']['name']; 
										}
										
											
										?>
										
									</td>
									<td data-title="วันที่/เวลา"><?php echo $project['Project']['place']; ?><br><?php echo $project['Project']['date']; ?><br><?php echo $project['Project']['time']; ?></td>
									<td data-title="ทีมวิทยากร/ทีมนักวิจัย">
										<?php echo $project['Project']['lecturer']; ?>
									</td>
									<td data-title="ลงทะเบียน" style="text-align: center;">		
										<?php
										//6
										if($project['Project']['id'] == null){
										?>
										
											<button class="btn btn-danger" style="cursor: none;">
												<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 
												เต็ม						
											</button>
										
										<?php
										}elseif ($project['Project']['id'] == 1 || $project['Project']['id'] == 2 || $project['Project']['id'] == 3 || $project['Project']['id'] == 4
												|| $project['Project']['id'] == 5 || $project['Project']['id'] == 6 || $project['Project']['id'] == 7) {
											echo '<button class="btn btn-danger" style="cursor: none;">
											<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 
											ปิดรับการลงทะเบียน						
										</button>';
										}
										else{
										?>
											<a class="btn btn-primary" href="<?php echo $this->Html->url(array('action' => 'register',$project['Project']['id'])); ?>" role="button" target="_blank">ลงทะเบียน</a>	
										<?php	
										}
										?>
					
									</td>
									<td data-title="ตรวจสอบรายชื่อ" style="text-align: center;">								
										<a class="btn btn-success" href="<?php echo $this->Html->url(array('action' => 'checklist',$project['Project']['id'])); ?>" role="button" target="_blank">ตรวจสอบรายชื่อ</a>								
									</td>
									<td data-title="ปริ้นท์รายชื่อ" style="text-align: center;">
										<a class="btn btn-warning" href="<?php echo $this->Html->url(array('action' => 'ListPrint',$project['Project']['id'])); ?>"
											role="button" target="_blank"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Print หน้าลงทะเบียน</a>
									</td>
								</tr>
							<?php
							}
						?>						
						
					</tbody>
				</table>
			</div>
	
		</div>

	</div>
	
	<div class="row">
		<div class="col-md-6">
					
			

		</div>
		<div class="col-md-6">	
			<div class="alert alert-info">
				ติดต่อสอบถามเพิ่มเติมได้ที่ งานบริหารงานวิจัยและวิเทศสัมพันธ์ 
				<br>
				คณะเกษตรศาสตร์ มหาวิทยาลัยเชียงใหม่ โทร. 053-944090 (ในวันเวลาราชการ)
			</div>
		</div>
	</div>
	
</div>
