<div class="row">
    <div class="panel-header">
        <br>
        <div class="container" align="center">
            <h3>สัดส่วนการผลิตบัณฑิต สายวิทย์ : สายอื่นในสถาบันอุดมศึกษา (ข้อมูลนักศึกษาจบ ต่อ นักศึกษาที่มีอยู่ทั้งหมด)</h3>
        </div>
        <div class="panel-body">
            <div class="btn-group">
                <?php if($admins != null) { ?>
                <a class="btn btn-success" role="button" target="_blank" href="<?PHP echo $this->Html->url(array('action'=>'add_student_manufacture')); ?>">เพิ่มข้อมูล</a>
                <?php } ?>
            </div>
            <div class="btn-group">
                <form method="get">
                    <div class="dropdown">
                        <button class="btn btn-info btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aira-expanded="false">
                            <?php echo $years['Yearterm']['year'];?>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                            <?php foreach ($dropdowns as $dropdown) { ?>
                                <?php
                                    if ($years['Yearterm']['year'] == $dropdown['Yearterm']['year'])
                                    {
                                        $active = 'active';
                                    }
                                    else
                                    {
                                        $active = '';
                                    }
                                ?>
                                <li class="<?php echo $active;?>">
                                    <a href="<?php echo $this->Html->url(array('action' => 'student_manufacture',$dropdown['Yearterm']['year']));?>">
                                        <font color="black"><?php echo $dropdown['Yearterm']['year'];?></font>
                                    </a>
                                </li>
                                <?php } ?>
                        </ul>
                    </div>
                </form>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="text-align:center" colspan="" rowspan="" width="1%">ลำดับ</th>
                        <th style="text-align:center" colspan="" rowspan="" width="30%">หัวข้อ</th>
                        <th style="text-align:center" colspan="" rowspan="" width="10%">เดือน</th>
                        <th style="text-align:center" colspan="" rowspan="" width="10%">ปี</th>
                        <th style="text-align:center" colspan="" rowspan="" width="10%">จำนวนนักศึกษา</th>
                        <th style="text-align:center" colspan="" rowspan="" width="10%">จำนวนนักศึกษาที่จบ</th>
                        <th style="text-align:center" colspan="" rowspan="" width="10%">ร้อยละ</th>
                        <?php if($admins != null) { ?>
                        <th style="text-align:center" colspan="" rowspan="" width="1%">แก้ไขข้อมูล</th>
                        <th style="text-align:center" colspan="" rowspan="" width="1%">ลบข้อมูล</th>
                        <?php } ?>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="12">ไตรมาส1</td>
                    </tr>
                    <tr>
                        <?php
                            $i = 0;
                            foreach ($student_manufacture1 as $student_manufacture){$i++;
                        ?>
                        <td style="text-align:center;"><?php echo $i; ?></td>
                        <td style="text-align:center;"><?php echo $student_manufacture['StudentManufacture']['name']; ?></td>
                        <td style="text-align:center;"><?php echo $student_manufacture['StudentManufacture']['month']; ?></td>
                        <td style="text-align:center;"><?php echo $student_manufacture['StudentManufacture']['year']; ?></td>
                        <td style="text-align:center;"><?php echo $student_manufacture['StudentManufacture']['total_stu']; ?></td>
                        <td style="text-align:center;"><?php echo $student_manufacture['StudentManufacture']['graduate_stu']; ?></td>
                        <td style="text-align:center;"><?php echo round(($student_manufacture['StudentManufacture']['graduate_stu']*100)/$student_manufacture['StudentManufacture']['total_stu'],2); ?></td>
                        <?php if($admins != null) { ?>
                        <td style="text-align:center;"><a class="btn btn-warning" role="button" target="_blank" href="<?php echo $this->Html->url(array('action' => 'edit_student_manufacture',$student_manufacture['StudentManufacture']['id'])); ?>">แก้ไขข้อมูล</a></td>
                        <td style="text-align:center;"><a class="btn btn-danger" role="button" onclick="return confirm('ยืนยันการลบข้อมูล')" href="<?php echo $this->Html->url(array('action' => 'remove_student_manufacture',$student_manufacture['StudentManufacture']['id'])); ?>">ลบข้อมูล</a></td>
                        <?php } ?>
                    </tr>
                        <?php } ?>
                        <tr>
                        <td colspan="12">ไตรมาส2</td>
                    </tr>
                    <tr>
                        <?php
                            $i = 0;
                            foreach ($student_manufacture2 as $student_manufacture){$i++;
                        ?>
                        <td style="text-align:center;"><?php echo $i; ?></td>
                        <td style="text-align:center;"><?php echo $student_manufacture['StudentManufacture']['name']; ?></td>
                        <td style="text-align:center;"><?php echo $student_manufacture['StudentManufacture']['month']; ?></td>
                        <td style="text-align:center;"><?php echo $student_manufacture['StudentManufacture']['year']; ?></td>
                        <td style="text-align:center;"><?php echo $student_manufacture['StudentManufacture']['total_stu']; ?></td>
                        <td style="text-align:center;"><?php echo $student_manufacture['StudentManufacture']['graduate_stu']; ?></td>
                        <td style="text-align:center;"><?php echo round(($student_manufacture['StudentManufacture']['graduate_stu']*100)/$student_manufacture['StudentManufacture']['total_stu'],2); ?></td>
                        <?php if($admins != null) { ?>
                        <td style="text-align:center;"><a class="btn btn-warning" role="button" target="_blank" href="<?php echo $this->Html->url(array('action' => 'edit_student_manufacture',$student_manufacture['StudentManufacture']['id'])); ?>">แก้ไขข้อมูล</a></td>
                        <td style="text-align:center;"><a class="btn btn-danger" role="button" onclick="return confirm('ยืนยันการลบข้อมูล')" href="<?php echo $this->Html->url(array('action' => 'remove_student_manufacture',$student_manufacture['StudentManufacture']['id'])); ?>">ลบข้อมูล</a></td>
                        <?php } ?>
                    </tr>
                        <?php } ?>
                        <tr>
                        <td colspan="12">ไตรมาส3</td>
                    </tr>
                    <tr>
                        <?php
                            $i = 0;
                            foreach ($student_manufacture3 as $student_manufacture){$i++;
                        ?>
                        <td style="text-align:center;"><?php echo $i; ?></td>
                        <td style="text-align:center;"><?php echo $student_manufacture['StudentManufacture']['name']; ?></td>
                        <td style="text-align:center;"><?php echo $student_manufacture['StudentManufacture']['month']; ?></td>
                        <td style="text-align:center;"><?php echo $student_manufacture['StudentManufacture']['year']; ?></td>
                        <td style="text-align:center;"><?php echo $student_manufacture['StudentManufacture']['total_stu']; ?></td>
                        <td style="text-align:center;"><?php echo $student_manufacture['StudentManufacture']['graduate_stu']; ?></td>
                        <td style="text-align:center;"><?php echo round(($student_manufacture['StudentManufacture']['graduate_stu']*100)/$student_manufacture['StudentManufacture']['total_stu'],2); ?></td>
                        <?php if($admins != null) { ?>
                        <td style="text-align:center;"><a class="btn btn-warning" role="button" target="_blank" href="<?php echo $this->Html->url(array('action' => 'edit_student_manufacture',$student_manufacture['StudentManufacture']['id'])); ?>">แก้ไขข้อมูล</a></td>
                        <td style="text-align:center;"><a class="btn btn-danger" role="button" onclick="return confirm('ยืนยันการลบข้อมูล')" href="<?php echo $this->Html->url(array('action' => 'remove_student_manufacture',$student_manufacture['StudentManufacture']['id'])); ?>">ลบข้อมูล</a></td>
                        <?php } ?>
                    </tr>
                        <?php } ?>
                        <tr>
                        <td colspan="12">ไตรมาส4</td>
                    </tr>
                    <tr>
                        <?php
                            $i = 0;
                            foreach ($student_manufacture4 as $student_manufacture){$i++;
                        ?>
                        <td style="text-align:center;"><?php echo $i; ?></td>
                        <td style="text-align:center;"><?php echo $student_manufacture['StudentManufacture']['name']; ?></td>
                        <td style="text-align:center;"><?php echo $student_manufacture['StudentManufacture']['month']; ?></td>
                        <td style="text-align:center;"><?php echo $student_manufacture['StudentManufacture']['year']; ?></td>
                        <td style="text-align:center;"><?php echo $student_manufacture['StudentManufacture']['total_stu']; ?></td>
                        <td style="text-align:center;"><?php echo $student_manufacture['StudentManufacture']['graduate_stu']; ?></td>
                        <td style="text-align:center;"><?php echo round(($student_manufacture['StudentManufacture']['graduate_stu']*100)/$student_manufacture['StudentManufacture']['total_stu'],2); ?></td>
                        <?php if($admins != null) { ?>
                        <td style="text-align:center;"><a class="btn btn-warning" role="button" target="_blank" href="<?php echo $this->Html->url(array('action' => 'edit_student_manufacture',$student_manufacture['StudentManufacture']['id'])); ?>">แก้ไขข้อมูล</a></td>
                        <td style="text-align:center;"><a class="btn btn-danger" role="button" onclick="return confirm('ยืนยันการลบข้อมูล')" href="<?php echo $this->Html->url(array('action' => 'remove_student_manufacture',$student_manufacture['StudentManufacture']['id'])); ?>">ลบข้อมูล</a></td>
                        <?php } ?>
                    </tr>
                        <?php } ?>
                </tbody>
            </table>
        </div>
    </div>
</div>