/*!
 * Start Bootstrap - Busines Frontpage (http://startbootstrap.com/template-overviews/business-frontpage)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-business-frontpage/blob/master/LICENSE)
 */

body {
    padding-top: 0px;
}

@media (min-width: 992px) {
    body {
        padding-top: 50px;
    }
}

.business-header {
    height: 50vh;
    min-height: 300px;
    background: url('http://placehold.it/1920x400') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.card {
    height: 100%;
}
