.postlist .col-md-7 .entry-content{padding:10px 5px}
.postlist .col-md-12 footer{padding-left:20px;padding-bottom:10px}
.postlist .col-md-7 footer{padding-left:0;padding-bottom:10px}
.postlist.fullwidth .col-md-8 header{padding:10px 0 0}
.postlist.fullwidth .col-md-12 header{padding:10px 20px 0}
.postlist.fullwidth .col-md-12 .entry-content{padding:15px 20px}
.postlist.fullwidth .col-md-8 .entry-content{padding:10px 5px}
.postlist.fullwidth .col-md-12 footer{padding-left:20px;padding-bottom:10px}
.postlist.fullwidth .col-md-8 footer{padding-left:0;padding-bottom:10px}
.postmeta{float:right}
.postdate{float:right;padding:6px 8px 8px;margin-top:15px;font-size:10px;text-align:center;text-transform:uppercase;line-height:normal}
.postdate span{display:block;font-size:24px}.subhead,.subhead a{font-size:11px;color:#777}
.postauthortop{margin-right:5px}
.postcommentscount{margin-left:5px}
.postedintop{margin-left:5px;margin-right:5px}
.posttags,.posttags a{color:#777;font-size:10px}
.posttags a{-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out}
.img-margin-center img{margin-right:auto;margin-left:auto}
p.kad_comments_link{margin-top:10px;margin-bottom:0}.single-article article{margin-top:15px}
.single-article aside{margin-top:25px}
.single-article article .postfeat{padding-top:10px}
.single-article .post header{padding:10px 0}
.single-article .post-single-img{text-align:center;-webkit-transform:translateZ(0)}
.kad-post-navigation{margin-top:10px}
.single-footer{margin-bottom:25px;padding-bottom:25px;border-bottom:1px solid #eee;border-bottom-color:rgba(0,0,0,.05);clear:both}
.staff-img{margin:10px 20px 10px 0}
.kad-post-navigation .kad-next-link a,.kad-post-navigation .kad-previous-link a{padding:8px 12px;background:#f2f2f2;background:rgba(0,0,0,.05);color:#444;transition:background .6s ease-out;-webkit-transition:background .6s ease-out;-moz-transition:background .6s ease-out;-o-transition:background .6s ease-out;display:block}
.kad-post-navigation .kad-next-link a:hover,.kad-post-navigation .kad-previous-link a:hover{background:#c72c00;color:#fff}
.infobanner{margin:15px 0}
.kad-mobile-slider{display:none}
.home-message{background-color:transparent;text-align:left;-webkit-transition:background .6s ease-in-out;-moz-transition:background .6s ease-in-out;-ms-transition:background .6s ease-in-out;-o-transition:background .6s ease-in-out;transition:background .6s ease-in-out;position:relative}
.home-message:hover{background-color:#c72c00;background-color:rgba(199,44,0,.6)}
.home-message h4{position:absolute;top:10px;left:10px;color:#444;background-color:#fff;background-color:rgba(255,255,255,.6);padding:6px;display:block}.home-message h5{position:absolute;bottom:10px;right:10px;color:#555;margin:0;text-align:right;padding:4px 6px;line-height:normal;background-color:#fff;background-color:rgba(255,255,255,.6)}
.home-margin{margin:0 0}
.home-padding{padding:25px 0 30px}
.home_blog_title{margin-top:20px}
.home_blog article{border:1px solid #eee;border-color:rgba(0,0,0,.05);margin:0 0 20px 0}
.home_blog .clearclass0{clear:left}
.home_blog article header h4{line-height:30px}
.home_blog article .entry-content{margin-right:15px;margin-bottom:15px}
.home_blog article .span6 .entry-content,.home_blog article .span6 header,.home_blog article .span8 .entry-content,.home_blog article .span8 header{margin-right:15px;margin-left:15px}
.home_blog article .tcol-md-12.postcontent .entry-content,.home_blog article .tcol-md-12.postcontent header{
    margin-right:15px;margin-left:15px}
    .home_blog article .tcol-md-12.postcontent,.home_blog article .tcol-sm-12.postcontent{float:left}
   
    .home-sidebar .home_blog_title{margin-top:20px;margin-bottom:10px;margin-left:15px}
    .home_blog .home-sidebar article .entry-content{margin-right:15px;margin-left:15px}
    .home_blog .home-sidebar article{margin-bottom:30px}#home-product-carousel .product_item{margin-bottom:0}
    .home-iconmenu{margin-top:10px;margin-bottom:10px}
    .home-iconmenu a{display:block;background:#ddd;background:rgba(0,0,0,.14);padding:10px 20px;text-align:center;color:#fff;transition:background .4s ease-out;-webkit-transition:background .4s ease-out;-moz-transition:background .4s ease-out;-o-transition:background .4s ease-out}.home-iconmenu a i{font-size:48px;color:#fff;display:block;padding-top:20px}.home-iconmenu a h4,.home-iconmenu a p{color:#fff}
  
    
    
    
    