<div class="container">

  <form class="form-signin" method="post">
  
	<div style="text-align: center;">
		<img src="<?php echo $this->Html->url('/img/Logo_Thai.png'); ?>" class="img-responsive" style="display: block; width:80%; margin: auto;"/>
		<div class="form-signin-heading" style="margin-top: 20px; font-size: 20px;">ระบบเสนอเปิด/ปรับปรุงกระบวนวิชา มคอ.3-4</div>
	</div>
	
	
	<input type="text" name="data[UserName]" class="form-control" placeholder="USERNAME" required autofocus>
	
	<input type="password" name="data[Password]" class="form-control" placeholder="PASSWORD" required>
					<font color="red">อาจารย์ บุคลากรคณะเกษตรศาสตร์ </font>: ใช้ Account ตัวเดียวกับที่ใช้บริการอินเตอร์เน็ตประจำคณะ <br><br>
					 
	<button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
  </form>

</div> <!-- /container -->