<?php //debug($TypeNew);?>

<div class="container">
<div class="col-md-12">
           
		<div class="panel panel-default" style="border-color: #F2F2F2!important">
			<div class="panel-heading" style="background-color: #F2F2F2!important;border-color: #F2F2F2!important">
			<h1 class="panel-title">ส่วนการจัดการข่าวกิจกรรม :<?php echo $TypeNews[0]['Typenew']['TypeNews'] ?></h1>
		</div>
		<div class="panel-body">
		<a class="btn btn-default dropdown-toggle btn-primary" href="<?php echo $this->Html->url(array('action' => 'ActivityAll')); ?>">
			ย้อนกลับ
			<span class="glyphicon glyphicon-home"></span>			
		</a>
	</div>

</div>


	
	<form multiple="multiple" enctype="multipart/form-data" method="post" accept-charset="utf-8">

		<table class="table table-hover table-post" style="width: 100%;">
			<tr>
				<td>
					<?php	
						// if ($LevelApp['Level']['name'] == "admin") {
						?>
							<label for="InfoDetail" class="addpost_input">ชื่อหน้าเพจ</label><br>
						<?php
							echo $this->Form->hidden('Info.id');
		  					// echo $this->Form->input('Info.typenew_id', array(
			  				// 	'options' => $TypeNew,
							// 	'class' => 'form-control',
							// 	'label' => false,
							// ));
							
							echo $TypeNews[0]['Typenew']['TypeNews'];
		  				// }else{
		  				// 	echo $this->Form->hidden('Info.type_new_id', array(
		  				// 		'value' => $group_app['TypeNew']['id'],
		  				// 		'class' => 'form-control',
						// 	  ));
						// 	}
	  						?>
	  						
					<?php
		  				

						// $name = $UserName['Employee']['fname']." ".$UserName['Employee']['lname'];
						// echo $this->Form->hidden('Info.PostName', array(
		  				// 		'value' => $name,
		  				// 		'class' => 'form-control',
						// ));
					?>
					<!--<label for="InfoTInter">ภายใน</label>
						<?php 
							echo $this->Form->checkbox('Info.TInter', array(
							));
						?>
						<br><label for="InfoTIntra">ภายนอก</label>-->
					<?php
							echo $this->Form->hidden('Info.TIntra', array(
								'value' => 1,
							));
					?>
				</td>
		  	</tr>
			  
			
			<tr>
			  <td>
			  <div class="form-group">
                                          <label class="col-sm-3 control-label">วันที่โพส </label>
                                                <div class="col-sm-7">
                                                   <div class="input-group date">                        
                                                  <?php 
                                                  echo $this->Form->input('Info.postdate', array(                          
                                                             'type' => 'text',
                                                             'label' => false,                                                        
                                                             'class' => array('form-control'),                                                           
                                                             'error' => false,
                                                             'required'
                                                  ));
                                                  ?>    
                                                  <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span> 
                                                                                                  
                                                    </div>     
                                             </div>
                                         </div>
			  </td>
			</tr>
			<!-- <tr>
			  <td>
			  <div class="form-group">
                                          <label class="col-sm-3 control-label">กำหนดวันที่สิ้นสุด ไอคอน HOT!  <img src="<?php echo $this->Html->url('/img/post/new_dark.gif') ?>"></label>
                                                <div class="col-sm-7">
                                                   <div class="input-group date">                        
                                                  <?php 
                                                  echo $this->Form->input('Info.postend', array(                          
                                                             'type' => 'text',
                                                             'label' => false,                                                        
                                                             'class' => array('form-control'),                                                           
                                                             'error' => false,
                                                             'required'
                                                  ));
                                                  ?>    
                                                  <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span> 
                                                                                                  
                                                    </div>     
                                             </div>
                                         </div>
			  </td>
			</tr> -->
			<!-- <tr>
				<td>
					<label for="InfoDetail" class="addpost_input">ภาพตัวอย่าง</label><br>
		  			<?php
		  				if ($LevelApp['Level']['name'] != "admin") {
		  					?>
		  						<div style="display: inline-block;margin:10px 10px 15px 15px">
			  					<input type="radio" name="data[Info][file_Picture]" id="InfoFilePictureValue" value="<?php echo $group_app['TypeNew']['id'] ?>" checked>
								<img src="<?php echo $this->Html->url('/img/post/') , $group_app['TypeNew']['id'] , ".jpg" ?>" alt="" style="margin-left: 5px;margin-right:10px;"></div>
						<?php
		  				}else{
		  					for ($i=1; $i < 10; $i++) {
		  					?>
		  						<div style="display: inline-block;margin:10px 10px 15px 15px">
									<?php if ($i == 1){ ?>
			  							<input type="radio" name="data[Info][file_Picture_select]" id="InfoFilePictureValue" value="<?php echo $i ;?>" checked>
									<?php 
										}else{ 
									?>
										<input type="radio" name="data[Info][file_Picture_select]" id="InfoFilePictureValue" value="<?php echo $i ;?>">					
									<?php 
										} 
									?>
		  							<img src="<?php echo $this->Html->url('/img/post/') , $i , ".jpg" ?>" alt="" style="margin-left: 5px;margin-right:10px;">
								</div>
						<?php
		  					}
		  				}
		  				for ($i=1; $i < 10; $i++) {
	  						?>
	  						<div style="display: inline-block;margin:10px 10px 15px 15px">
								<?php if ($i == 1){ ?>
		  							<input type="radio" name="data[Info][file_Picture_select]" id="InfoFilePictureValue" value="<?php echo $i ;?>" checked>
								<?php 
									}else{ 
								?>
									<input type="radio" name="data[Info][file_Picture_select]" id="InfoFilePictureValue" value="<?php echo $i ;?>">					
								<?php 
									} 
								?>
	  							<img src="<?php echo $this->Html->url('/img/post/') , $i , ".jpg" ?>" alt="" style="margin-left: 5px;margin-right:10px;">
							</div>
							<?php
						}
		  					$i = 99;
		  				?>
		  				<div style="display: inline-block;margin:10px 10px 15px 15px">
	  						<input type="radio" name="data[Info][file_Picture_select]" id="InfoFilePictureValue" value="<?php echo $i ?>"> อัปโหลดภาพตัวอย่าง
	  					<?php
				        	echo $this->Form->file('Info.file_Picture',array('type' => 'file','accept' => 'image/*'));
				    ?>
						</div>
				</td>
			</tr> -->
		  	<tr>
				<td>
		  			<label for="InfoDetail" class="addpost_input">ชื่อเรื่อง</label>
					<?php echo $this->Form->textarea('Info.Title',array('class'=>'ckeditor'))?>
				</td>
			</tr>
		  	<tr>
		  		<td>
		  			<label for="InfoDetail" class="addpost_input">เนื้อหา</label>
					<?php echo $this->Form->textarea('Info.Detail',array('class'=>'ckeditor','width' => '100%'))?>

				</td>
		  	</tr>	  	
			<tr>
			  <td>
			  	  <h3><font color="red">ขอความร่วมมือตรวจสอบรูปภาพ เนื่องจากระบบยังไม่รองรับการ Resize รูปภาพ โปรดเรียงลำดับภาพ, Resize ภาพ และเช็คการแสดงรูปภาพ ในขนาดแนวตั้งหรือแนวนอนให้เรียบร้อย ก่อนอัพโหลด</font></h3><br>
				  <label for="InfoDetail" class="addpost_input">อัปโหลดรูปภาพเพิ่ม (กด Ctrl หรือ Shift ค้างเพื่อเลือกได้มากกว่า 1 ไฟล์)</label>
				  <font color="red">อัพรูปได้สูงสุด 20 ไฟล์ ต่อ 1 ครั้ง (ขนาดรูปภาพ : 1000x667 px)</font>
				  <?php
					  echo $this->Form->input('InfoDocument.files.', array('type' => 'file', 'multiple','accept' => '.xlsx,.xls,image/*, .doc, .docx, .ppt, .pptx, .txt, .pdf, .zip, .rar'));
				  ?>
			  </td>
		  </tr>
				<td>
					<div style="margin-top: 15px;">
						<a href="<?php echo $this->Html->url(array('action' => 'ActivityAll')); ?>" class="btn btn-info">
							<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
							กลับสู่เมนูหลัก
						</a>
						<input type="submit" class="btn btn-warning" value="แก้ไขข้อมูล" onclick="return confirm('ยืนยันการแก้ไขข้อมูล')">
					</div>
				</td>
			</tr>
		</table>
	</form>
 <!-- /container -->


	<div class="panel panel-default" style="border-color: #F2F2F2!important">
			<div class="panel-heading" style="background-color: #F2F2F2!important;border-color: #F2F2F2!important">
				<h3 class="panel-title">แสดงรูปภาพในข่าวกิจกรรมนี้</h3>
			</div>
			<div class="panel-body">
				<div class='list-group gallery'>
			
				   <?php
				   $a =0;
				   foreach ($infodocs as $infodoc) { 
					 $a++;  
					 if(($i%3) == 0)
					 {	
						 echo '<div class="row">';
					 }
					   ?>
					 
					
					
						<div class='col-md-4' > 
						<!-- <a class="thumbnail fancybox" rel="ligthbox" href="<?php echo $this->Html->url('/files/Activity/'.$infodoc['InfoDocument']['info_id'].'/').''. $infodoc['InfoDocument']['name'] ?>"> -->
						<img class="img-responsive" alt="" src="<?php echo $this->Html->url('/files/Activity/'.$infodoc['InfoDocument']['info_id'].'/').''. $infodoc['InfoDocument']['name'] ?>" width="100%"  />
						
					<!-- </a> -->
					
				
					<a href="<?php echo $this->Html->url(array('action' => 'delete_picture',$infodoc['InfoDocument']['id'],$id)); ?>" class="btn btn-danger" onclick="return confirm_click();">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						ลบ
					</a>
					</div>
					<?php 
					if(($i%3) == 2)
					{	
						echo '</div>';
					}
					++$i;
				}
				echo " </div>";
				echo "<br><hr>";
			?>
				</div>
					  
				
		</div>

	</div>

	</div>

</div>