<?php //debug($this->request->data);?>
<?php //debug($EmployeeTypeNew);?>
<div class="container">
	

	<table class="table table-hover table-post" style="width: 100%;">
		<tr>
			<th>id</th> 
		    <th>Username</th> 
		  
		    <th>group</th>
	  	</tr>
	  	<form class="form-control" method="post">
	  	<?php
	  		
			  echo $this->Form->input('EmployeeTypeNew.id', array(
				   'type' => 'text',
				   'label' => false,
					'hidden'      
			 ));
	 

		?>
	  	<tr align="center">
		  <td>
				<?php 
					echo $EmployeeTypeNew['Employee']['id']
				?>
			</td>
			<td>
				<?php 
					echo $EmployeeTypeNew['Employee']['fname'].' '.$EmployeeTypeNew['Employee']['lname'] 
				?>
			</td>
			
				<!-- <?php 
					echo $this->Form->hidden('LevelApp.Application_id', array(
						'options' => $Application,
						'class' => 'form-control',
						'label' => false,
						'readonly'
					));
				?>
			<td>
				<?php
					echo $this->Form->input('LevelApp.level_id', array(
						'options' => $level,
						'class' => 'form-control',
						'label' => false,
					));
				?>
			</td> -->
			<td>
				<?php
					 
					echo $this->Form->input('EmployeeTypeNew.typenew_id', array(
						'options' => $TypeNew,
						'class' => 'form-control',
						'label' => false,
						
					));
				?>
			</td>
	  	</tr>

	  	
	</table>
	<a href="<?php echo $this->Html->url(array('action' => 'member')); ?>" class="btn btn-info">
		<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
		กลับสู่เมนูหลัก
	</a>
	<input type="submit" class="btn btn-warning" value="แก้ไข" onclick="return confirm('ยืนบันการแก้ไขข้อมูล')">
	</form>
</div> <!-- /container -->