<?php //echo debug($projects);?>
<div class="container" style="padding:15px 0 0;">
<div class="panel panel-default" style="border-color: #F2F2F2!important">
	<div class="panel-heading" style="background-color: #F2F2F2!important;border-color: #F2F2F2!important">
			<div class="panel-title">
				<h3 style="margin:0px !important;">
					<center><div class="font_panel2">มัคคุเทศก์เกษตร</div></center>
				</h3> 
			</div>
		</div>	
		<div class="panel-body" style="padding-top: 15px; ">
			<div align="center"> 
				<img src="<?php echo $this->Html->url('/img/tour.png'); ?>"> <br>	
				<h4>ลงทะเบียนเพื่อเข้าร่วมชมกิจกรรมงานเกษตรภาคเหนือ</h4>
				<h4>ในงานเกษตรภาคเหนือ ครั้งที่ 10 “นวัตกรรมเกษตรอัจฉริยะเพื่อเป้าหมายการพัฒนาที่ยั่งยืน”</h4>
				<h4>ในระหว่างวันที่ 6-8 ธันวาคม 2565</h4>
				<br>
				 

			</div> 
			<div align="center">
			<a class="btn btn-lg btn-primary" href="<?php echo $this->Html->url(array('action' => 'registerguide2')); ?>" role="button" target="_blank">ลงทะเบียนมัคคุเทศก์เกษตร</a>					
							
			</div>
			<hr>
			 

			<div id="no-more-tables"> 				
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th style="text-align: center;">ลำดับ</th>
							<th style="text-align: center;">ชื่อหน่วยงาน</th>
							<th style="text-align: center;">วันที่</th>
							<th style="text-align: center;">รอบที่</th>
							<!-- <th style="text-align: center;">เวลา</th> -->
							<th style="text-align: center;">นักเรียน</th>
							<th style="text-align: center;">อาจารย์</th>
							<th style="text-align: center;">เกษตรกร</th>
							<th style="text-align: center;">บุคลากร</th>
							<th style="text-align: center;">อื่นๆ</th>
							<th style="text-align: center;">รวม</th>
							<!-- <th style="text-align: center;">การจัดมัคคุเทศก์</th> -->
							<th style="text-align: center;">ผู้ควบคุม</th>
							
							
						</tr>
					</thead>
					<tbody>
						<?php
							$countall = 0;
							$i = 0;
							foreach ($Guides as $Guide){
								
								$i++;
							?>
							<?php if ($Guide['Guide']['visit'] == 1) { ?>
								<tr class="success">
							<?php }else { ?>
								<tr class="danger">
							<?php } ?>
									<td data-title="ลำดับ" align="center"><?php echo $i; ?></td>
									<td data-title="ชื่อหน่วยงาน"><?php echo $Guide['Guide']['organize'] ?></td>
									<td data-title="วันที่"><?php echo $Guide['Dateguide']['name'] ?></td>
									<?php if ($Guide['Guide']['round'] == 1) {
											echo '<td data-title="รอบที่" class="success" align="center"> รอบที่ 1 (เวลา 09.30-10.30)  </td>';
										}else {
											echo '<td data-title="รอบที่" class="danger" align="center"> รอบที่ 2 (เวลา 11.00-12.00)  </td>';
										} 
									?> 
									<!-- <td data-title="เวลา"><?php echo $Guide['Guide']['start'] ?>-<?php echo $Guide['Guide']['end'] ?></td> -->
									<td data-title="นักเรียน"><?php echo $Guide['Guide']['studentnum'] ?></td>
									<td data-title="อาจารย์"><?php echo $Guide['Guide']['teachernum'] ?></td>
									<td data-title="เกษตรกร"><?php echo $Guide['Guide']['farmernum'] ?></td>
									<td data-title="บุคลากร"><?php echo $Guide['Guide']['staffnum'] ?></td>
									<td data-title="อื่นๆ"><?php echo $Guide['Guide']['othernum'] ?></td>
									<?php 
										  $total=0;
										  $total = (((($Guide['Guide']['studentnum']+$Guide['Guide']['teachernum'])+$Guide['Guide']['farmernum'])+$Guide['Guide']['staffnum'])+$Guide['Guide']['othernum']); ?>
									<td data-title="รวม" align="center"><b style="font-size:16px;"> <?php echo $total ?></b></td>
									 <?php $countall = $countall + $total; ?>
									
										<!-- <?php if ($Guide['Guide']['visit'] == 1) {
											echo '<td data-title="การจัดมัคคุเทศก์" class="success" align="center"> ประสงค์  </td>';
										}else {
											echo '<td data-title="การจัดมัคคุเทศก์" class="danger" align="center"> ไม่ประสงค์  </td>';
										} 
										?>  -->
									 <td data-title="ผู้ควบคุม">
										 <?php 
										$memberName = $Guide['Prefix']['name'].$Guide['Guide']['fname']; 
										
										echo $memberName.'<br>';
										echo 'tel:'.$Guide['Guide']['reftel'].'<br>';
										// echo 'line:'.$Guide['Guide']['refline']; 
										  ?>
									 
									 </td>
									
								</tr>
							<?php
							}
						?>						
						<tr>
							<td colspan ="9" data-title="" align="center">รวม</td>
							<td  data-title="" align="center"><p style="font-size:18px;"> <?php echo $countall ?></p></td>
							<td colspan ="2" data-title="" align="center"> คน</td>
						</tr>
					</tbody>
				</table>
			</div>	
		</div>
	</div>
	
	 
	
</div>
